@charset "UTF-8";
input:focus,
textarea:focus {
  outline: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #fde3ec;
  font-family: 'Noto Sans TC', 'Ubuntu', sans-serif;
  letter-spacing: 1.5px;
}

.container {
  background-color: #fff;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 25px;
  border-radius: 5px;
  padding: 18px;
}

.btn {
  float: right;
  cursor: pointer;
  padding: 8px 10px 8px 10px;
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #eaceda;
  border-radius: 3px;
  font-weight: 300;
  color: #eaceda;
}

.btn:hover {
  background-color: #eaceda;
  color: #fff;
}

.table {
  width: 100%;
}

tbody {
  text-align: center;
}

tbody tr {
  font-size: 14px;
  font-weight: 300;
  color: #b4a493;
}

tbody td {
  padding-bottom: 15px;
}

th {
  font-weight: 400;
  color: #b4a493;
  font-size: 14px;
  padding-bottom: 20px;
}

.btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.edit-btn {
  margin-right: 5px;
}

.edit-btn,
.del-btn {
  cursor: pointer;
  padding: 3px 8px 3px 8px;
  background-color: #fff;
  border: 1px solid #e3ccee;
  border-radius: 3px;
  font-weight: 300;
  color: #e3ccee;
}

.edit-btn:hover,
.del-btn:hover {
  background-color: #e3ccee;
  color: #fff;
}

/*add & edit model ☆.｡.:*・ﾟ ☆.｡.:*・ﾟ ☆.｡.:*・ﾟ ☆.｡.:*・ﾟ ☆.｡.:*・ﾟ ☆.｡.:*・ﾟ*/
.modale:before {
  content: '';
  display: none;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

.opened:before {
  display: block;
  overflow: scroll;
  height: 100vh;
}

.modal-dialog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 75%;
  border-radius: 5px;
  padding: 10px;
  font-weight: 300;
  font-size: 14px;
  width: 800px;
  overflow: scroll;
  margin-left: -240px;
  position: fixed;
  left: 50%;
  top: -100%;
  z-index: 11;
  background-color: #fff;
  border: 1px solid #818181;
  -webkit-box-shadow: 0 2px 5px rgba(119, 119, 119, 0.3);
          box-shadow: 0 2px 5px rgba(119, 119, 119, 0.3);
  -webkit-transform: translate(0, -500%);
  transform: translate(0, -500%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

.opened .modal-dialog,
.opened .delmodal-dialog {
  -webkit-transform: translate(0, 0);
  transform: translateX(-20%);
  top: 10%;
}

.modal-header {
  margin-left: 30px;
  font-family: 'Noto Sans TC', 'Ubuntu', sans-serif;
  letter-spacing: 1.5px;
}

.modal-header h3 {
  font-weight: 300;
  color: #b4a493;
}

.modal-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 30px;
  margin-right: 30px;
}

.modal-body label {
  color: #b4a493;
}

.modal-body textarea {
  resize: none;
}

.title,
.price,
.category,
.unit,
.origin-price,
.image,
.description,
.is-enbled {
  width: 100%;
  margin-bottom: 20px;
}

.title label,
.price label,
.category label,
.unit label,
.origin-price label,
.image label,
.description label,
.is-enbled label {
  margin-right: 8px;
}

.title input,
.title textarea,
.price input,
.price textarea,
.category input,
.category textarea,
.unit input,
.unit textarea,
.origin-price input,
.origin-price textarea,
.image input,
.image textarea,
.description input,
.description textarea {
  font-family: 'Noto Sans TC', 'Ubuntu', sans-serif;
  letter-spacing: 1.5px;
  border: 1px solid #b4a493;
  border-radius: 4px;
  padding: 8px;
  width: 60%;
  height: 35px;
  font-size: 13px;
  color: #b4a493;
  font-weight: 300;
}

.title textarea,
.price textarea,
.category textarea,
.unit textarea,
.origin-price textarea,
.image textarea,
.description textarea {
  height: 70px !important;
}

.image-url {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.image-url img {
  max-width: 300px;
}

.right,
.left {
  width: 50%;
}

.modal-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 30px;
  padding: 10px;
}

.modal-footer button {
  cursor: pointer;
  background-color: #fff;
  color: #b4a493;
  border: 1px solid #b4a493;
  border-radius: 3px;
  padding: 5px 10px;
}

.modal-footer .add {
  margin-left: 10px;
}

.modal-footer .delbtn:hover {
  color: #fa6f98;
}

.delmodal-dialog {
  color: #b4a493;
  border-radius: 5px;
  padding: 10px;
  font-weight: 300;
  font-size: 14px;
  width: 600px;
  overflow: initial;
  margin-left: -190px;
  position: fixed;
  left: 50%;
  top: -100%;
  z-index: 11;
  background-color: #fff;
  border: 1px solid #b4a493;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  -webkit-transform: translate(0, -500%);
  transform: translate(0, -500%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

.product-title {
  font-weight: 400;
  color: #eaceda;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 300;
  color: #fff;
  font-size: 13px;
}

.abled {
  color: #bae0c4;
}

.enabled {
  color: #b4a493;
}

.description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.description textarea {
  border: 1px solid #b4a493;
  border-radius: 3px;
}

.pagenation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 240px;
  margin-top: 50px;
  list-style: none;
}

.pagenation li {
  width: 40px;
  height: 40px;
  border: 2px solid #fff;
  margin: 0px 0px -2px -2px;
}

.pagenation li a,
.pagenation li i {
  text-decoration: none;
  width: 100%;
  height: 100%;
  color: #eaceda;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pagenation li i {
  font-size: 18px;
}

.pagenation li a {
  color: #fff;
  font-size: 14px;
}

.pagenation .left {
  border-radius: 7px 0px 0px 7px;
  background-color: #fff;
  border-right: none;
}

.pagenation .right {
  border-radius: 0px 7px 7px 0px;
  background-color: #fff;
  border-left: none;
}

.disabled i {
  color: #fde3ec !important;
  cursor: not-allowed;
}

.swal2-popup {
  font-size: 10px !important;
}
